//Variaveis de cor

$cor-principal: #f7ac53;
$cor-secundaria: #e3f2fd;
//$cor-ternaria: #987452;

//Variaveis de cor

//Variaveis de MediaQuery

$mobile: 600px;
$tablet: 992px;
$desktop: 1920px;

//Variaveis de MediaQuery